name: CI

on:
  push:
    branches: [ "main", "feature/**", "fix/**" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    - name: Set up Node.js
      uses: actions/setup-node@v4
      with:
        node-version: "20"
        cache: "npm"

    - name: Install dependencies
      run: make setup

    - name: Run Lint
      run: make lint

    - name: Run Tests
      run: make test